.creative{
    font-size: 30px;
    line-height: 36px;
    font-weight: 300;
    color: rgb(0, 0, 0);
}
.portfolio{
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    color: rgb(0, 0, 0);
}
.header{
    font-size: 15px;
    color: rgb(153, 153, 153);
    line-height: 27px;
    font-weight: 400;
}